<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle title="Menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Learn X in Y Minutes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openInfoPage()" title="Info">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [menuToggle]="languages.length">
  <div class="empty-list" *ngIf="!languages.length">
    <h1>[]</h1>
    <p>Your reading list seems to be empty.</p>
    <p>Let's change that!</p>
  </div>
  <ion-card class="blueprint" *ngFor="let language of languages">
    <button class="card-title" ion-item (click)="openContentpage(language)">
      <span class="hljs-comment" item-left>></span>{{ language.title }}
    </button>
  </ion-card>
</ion-content>
