page-collection {
    .content {
        background-image: url(/assets/bg-logo.png);
        background-position: center center;
    }
    .empty-list {
        cursor: pointer;
        display: flex;
        color: #aaa;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        h1 {
            font-size: 8em;
            font-family: monospace;
            color: #ddd;
            margin-top: -1em;
        }
        p {
            font-size: 1.5em;
            margin-bottom: 0;
        }
    }
    .card-title {
        cursor: pointer;
        font-family: monospace;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        font-size: 5rem;
        color: #212121;
    }
}
